/Bart_Engine/build
/Bart_Engine/dist
/Bart_Engine/nbproject/private
/Bart_Engine/nbproject/nbproject.properties
/lib/lunaticEngine-*.jar
/Bart_GUI/BART_ENGINE/nbproject/private/
/Bart_GUI/BART_ENGINE/release/modules/ext/
/Bart_GUI/BART_LIB/nbproject/private/
/Bart_GUI/BART_LIB/release/modules/ext/
/Bart_GUI/CentralLookup/nbproject/private/
/Bart_GUI/ControlEGTaskDataObject/nbproject/private/
/Bart_GUI/ControlView/nbproject/private/
/Bart_GUI/EGTaskDataObject/nbproject/private/
/Bart_GUI/Resources/nbproject/private/
/Bart_GUI/View/nbproject/private/
/Bart_GUI/icepdf/nbproject/private/
/Bart_GUI/jfreechart/nbproject/private/
/Bart_GUI/nbproject/private/
/Bart_GUI/trident/nbproject/private/
/Bart_GUI/build/
/Bart_GUI/ControlEGTaskDataObject/build/
/Bart_GUI/ControlView/build/
/Bart_GUI/EGTaskDataObject/build/
/Bart_GUI/View/build/
/Bart_GUI/BART_ENGINE/build/
/Bart_GUI/BART_LIB/build/
/Bart_GUI/trident/build/
dirty_customers.csv
dirty_treatments.csv
inputdb_diffs.csv
build
nbproject/private
nbproject.properties
dist
/Bart_GUI/BART_Branding/nbproject/private/