<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--<pattern>%d %-5p %c %n%m%n</pattern>-->
            <pattern>%gray(%highlight(%-5level %logger{15})) - %msg %n</pattern>
        </encoder>
    </appender>
<!--    <appender name="file" class="ch.qos.logback.core.FileAppender">
        <Append>false</Append>
        <File>${user.home}/Temp/logBart.txt</File>
        <File>${user.home}/Dropbox/BartExp/logBart-${bySecond}.txt</File>
        <encoder>
            <pattern>%m%n</pattern>
            <pattern>%d %-5p %c %n%m%n</pattern>
        </encoder>
    </appender>  -->
    <root level="WARN">
        <appender-ref ref="stdout"/>
        <!--<appender-ref ref="file"/>-->
    </root>
    <!--     TEST     -->
    <!--<logger name="bart.test" level="TRACE"/>-->
    <!--     OPERATOR     -->
    <!--<logger name="bart.model.errorgenerator.operator.APrioriGenerator" level="INFO"/>-->
    <!--<logger name="bart.model.errorgenerator.operator.SelectQueryExecutor" level="INFO"/>-->
    <!--<logger name="bart.model.errorgenerator.operator.GenerateVioGenQuery" level="DEBUG"/>-->
    <!--<logger name="bart.model.errorgenerator.operator.AbstractVioGenQueryExecutor" level="INFO"/>-->
    <!--<logger name="bart.model.errorgenerator.operator.ExecuteVioGenQueryStandard" level="DEBUG"/>-->
    <!--<logger name="bart.model.errorgenerator.operator.ExecuteVioGenQueryStandardMainMemoryRandom" level="INFO"/>-->
    <!--<logger name="bart.model.errorgenerator.operator.ExecuteVioGenQuerySymmetricRandom" level="INFO"/>-->
    <!--<logger name="bart.model.errorgenerator.operator.ExecuteVioGenQuerySymmetric" level="INFO"/>-->
    <!--<logger name="bart.model.errorgenerator.operator.ExecuteVioGenQueryUtility" level="INFO"/>-->
    <!--<logger name="bart.model.errorgenerator.operator.ExecuteVioGenQueryInequality" level="INFO"/>-->
    <!--<logger name="bart.model.errorgenerator.operator.ExecuteVioGenQueryInequalityMainMemoryRandom" level="INFO"/>-->
    <!--<logger name="bart.model.errorgenerator.operator.ExecuteVioGenQueryInequalitySymmetricMainMemoryRandom" level="INFO"/>-->
    <!--<logger name="bart.model.errorgenerator.operator.ExecuteVioGenQueryInequalityCrossProducts" level="INFO"/>-->
    <!--<logger name="bart.model.errorgenerator.operator.ExecuteVioGenQuerySymmetricMainMemoryRandom" level="INFO"/>-->
    <!--<logger name="bart.model.errorgenerator.operator.ExecuteVioGenQueryInequalityRAMRandomCP" level="INFO"/>-->
    <!--<logger name="bart.model.errorgenerator.operator.ExportDatabaseCSV" level="DEBUG"/>-->
    <!--<logger name="bart.model.errorgenerator.operator.ExecuteVioGenQueries" level="DEBUG"/>-->
    <!--<logger name="bart.model.dependency.operators.GenerateStratification" level="DEBUG"/>-->
    <!--<logger name="bart.model.errorgenerator.CellChanges" level="DEBUG"/>-->
    <!--<logger name="bart.model.errorgenerator.operator.deltadb.ApplyCellChanges" level="INFO"/>-->
    <!--<logger name="bart.model.errorgenerator.operator.GenerateChangesAndContexts" level="INFO"/>-->
    <!--<logger name="bart.model.dependency.operators.ExtractFormulaSampling" level="DEBUG"/>-->
    <!--<logger name="bart.model.errorgenerator.operator.ExtractLazySampleFromQuery" level="DEBUG"/>-->
    <!--<logger name="bart.model.errorgenerator.operator.valueselectors.BasicValueSelector" level="DEBUG"/>-->
    <!--<logger name="bart.model.errorgenerator.operator.GenerateVioGenQueries" level="INFO"/>-->
    <!--<logger name="bart.model.errorgenerator.operator.ExtractPostSampleFromQuery" level="DEBUG"/>-->
    <!--<logger name="bart.model.errorgenerator.operator.DBMSStatsSampleStrategy" level="DEBUG"/>-->
    <!--<logger name="bart.model.errorgenerator.operator.TableSizeSampleStrategy" level="DEBUG"/>-->
    <!--<logger name="bart.model.errorgenerator.operator.ExecutePartialOrderErrors" level="TRACE"/>-->
    <!--<logger name="bart.model.errorgenerator.operator.valueselectors.PartialOrderValueSelector" level="TRACE"/>-->
    <!--<logger name="bart.model.detection.operator.DetectViolations" level="DEBUG"/>-->
    <!--<logger name="bart.model.detection.operator.DetectViolationsSymmetric" level="DEBUG"/>-->
    <!--<logger name="bart.model.detection.operator.EstimateRepairability" level="DEBUG"/>-->
    <!--<logger name="bart.model.dependency.analysis.FindFormulaWithAdornments" level="DEBUG"/>-->
    <!--<logger name="bart.model.dependency.symmetry.VertexEquivalenceComparator" level="DEBUG"/>-->
    <!--<logger name="bart.model.database.dbms.operators.ExecuteInitDB" level="DEBUG"/>-->
    <!--<logger name="bart.model.algebra.operators.GenerateTupleFromTuplePair" level="DEBUG"/>-->
    <!--<logger name="bart.model.algebra.operators.sql.SQLUpdateCell" level="DEBUG"/>-->
    <!--<logger name="bart.model.algebra.operators.sql.SQLInsertTuple" level="DEBUG"/>-->
    <!--<logger name="bart.model.algebra.operators.mainmemory.UpdateCell" level="DEBUG"/>-->
    <!--<logger name="bart.model.database.operators.dbms.SQLRunQuery" level="DEBUG"/>-->
    <!--<logger name="bart.model.database.operators.dbms.SQLExplainQuery" level="DEBUG"/>-->
    <!--<logger name="bart.persistence.DAOEGTaskConfiguration" level="DEBUG"/>-->
    <!--<logger name="bart.model.algebra.ExtractRandomSample" level="DEBUG"/>-->
    <!--<logger name="bart.persistence.relational.PooledDbConnectionFactory" level="TRACE"/>-->
    <!--<logger name="bart.utility.DBMSUtility" level="DEBUG"/>-->
    <!--     COMPARISON     -->
    <!--<logger name="bart.comparison.operators.CompareInstancesHashing" level="DEBUG"/>-->
    <!--<logger name="bart.comparison.operators.ComputeInstanceSimilarityBruteForceCompatibility" level="DEBUG"/>-->
    <!--<logger name="bart.comparison.operators.CheckTupleMatch" level="TRACE"/>-->
    <!--<logger name="bart.comparison.operators.CheckTupleMatchCompatibility" level="DEBUG"/>-->
    <!--<logger name="bart.comparison.operators.ComputeInstanceSimilarityBlock" level="DEBUG"/>-->
    <!--<logger name="bart.comparison.ComparisonUtility" level="TRACE"/>-->
    <!--     SPEEDY     -->
    <!--<logger name="speedy.utility.DBMSUtility" level="DEBUG"/>-->
    <!--<logger name="speedy.persistence.relational.QueryStatManager" level="DEBUG"/>-->
    <!--<logger name="speedy.persistence.relational.QueryManager" level="DEBUG"/>-->
    <!--<logger name="speedy.persistence.file.operators.ImportCSVFileWithCopy" level="DEBUG"/>-->
    <!--<logger name="speedy.persistence.file.operators.ImportXMLFile" level="DEBUG"/>-->
    <!--<logger name="speedy.model.algebra.operators.sql.SQLBatchInsert" level="DEBUG"/>-->
    <!--<logger name="speedy.persistence.xml.operators.TransformFilePaths" level="DEBUG"/>-->
    <!--     STATS     -->
    <!--<logger name="bart.model.errorgenerator.operator.ErrorGeneratorStats" level="DEBUG"/>-->
    <!--<logger name="bart.persistence.relational.QueryStatManager" level="DEBUG"/>-->
  
    <logger name="com.mchange" level="WARN"/>
    <logger name="com.sun" level="WARN"/>
  
</configuration>